<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payfast: Redirecting to payfast gateway</title>
</head>
<body>
<h3>You will be redirected to the payfast gateway momentarily</h3>

<form method="post" action="{{ form_action_url }}">
    {% for field in form_fields %}
        <input type="{{ field.type }}" name="{{ field.name }}" value="{{ field.value }}" />
    {% endfor %}
    If you are not redirected please <button type="submit">click here...</button>
</form>
</body>
</html>